body {
    margin: 0;
}


.square {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    text-align: right;

}
.square1 {
    background-color: aqua;
    left: 0;
}

.square2 {
    background-color: red;
    left: 16px;
    z-index: -1;
}

.square3 {
    background-color: yellow;
    left: 32px;
    z-index: -2;
}

.square4 {
    background-color: brown;
    left: 48px;
    z-index: -3;
}

.square5 {
    background-color: blue;
    left: 64px;
    z-index: -4;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    position:relative
    top: 16px;
    right: 16px;
}


.displayNone{
    display: none;
}

.visibilityHidden {

    visibility: hidden;

}

.parent1{
    width: 300;
    height: 100;
    border: 2px solid black;

}

.child{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    padding: 16px;
    box-sizing: border-box;


}

.item{
    height: 30px;
    width: 30px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 50%;
}
.wrapper{
display: flex;


}






